@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

body {
  height: 100%vh;
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
  background-image: url("img/fleuri.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  
  background-position: bottom right; 
  background-attachment: fixed;
}
header {
  height: auto;
  border: 3px solid gray;

  border-radius: 20px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 20px;
  background-color: pink;
}
header blockquote p:nth-child(2) {
  background: rgb(235, 235, 148);
}
h1 {
  text-transform: uppercase;

  margin: 0;
  margin-top: 70px;
  margin-bottom: 30px;

  font-size: 1.5em;
}
h2 {
  margin-left: 65px;
  padding-top: 30px;
}
h1,
h2,
h3,
caption {
  font-family: "Bree Serif", serif;
}

h1,
h3, footer {
  text-align: center;
}
h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

blockquote {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

blockquote p {
  padding: 15px;
  background: rgb(172, 170, 170);
  display: inline-block;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: solid #333;
  font-family: "Bree Serif", serif;
}

ul {
  margin: 0;
  padding: 0;
  margin-left: 80px;
  margin-top: 10px;

  font-family: "Bree Serif", serif;
}
ul {
  list-style-type: lower-greek;
  padding: 0;
  margin: 0;
  display: inline;
  list-style-position: inherit;
}
ul li {
  padding: 10px;
  margin-left: 80px;
}
li {
  margin-top: 20px;
}
li:nth-child(1)::after {
  content: url("img/pouce2.ico");
  padding-left: 30px;
  margin-top: 20px;
}
li:nth-child(2)::after {
  content: url("img/pouce3.ico");
  padding-top: 30px;
}
li:nth-child(3)::after {
  content: url("img/chat.ico");
}

span {
  text-transform: uppercase;
  font-size: 20px;
  color: red;
}
table {
  margin: 0 auto;
}

table,
th,
tr,
td {
  width: 500px;
  border: 5px solid black;
  
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
td {
  font-family: 'Balsamiq Sans', cursive;
}

tr:nth-child(odd) {
  background: wheat;
}
tr:nth-child(even) {
  background: gray;
}

caption {
  font-weight: bold;
  margin-bottom: 13px;
}

p,
q {
  /* line-height: 32px; */
  margin-left: 50px;
  margin-right: 25px;
  font-family: "Averia Serif Libre", cursive;

  text-align: justify;
}
p:nth-child(5) {
  font-style: oblique;
}
p:nth-child(7) {
  line-height: 1.7em;
}
q {
  background: rgb(177, 176, 176);
  font-style: italic;
  padding-left: 30px;
  display:inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 3px solid gray;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}

q.citation {
  max-width: 50%;
  border-left: solid 3px #333;
  display: block;
  /* padding-right: 30px; */
  
  margin: 80px auto;
}

q.villageois {
  border-left: solid 3px red;
  display: block;
  max-width: 50%;
  margin: 80px auto;
  /* padding-right: 30px; */
}
.paysan {
  width: 30%;
}
.bien {
  color: rgb(7, 121, 7);
}
img {
  border: 8px solid gray;
  border-radius: 8%;
}

img.bienMal {
  width: 30%;
  float: right;
  margin-left: 20px;
  margin-top: 20px;

  /* margin-left: auto;
  margin-right: auto; */
}
img.mars {
  float: left;
  margin-right: 20px;
  margin-left: 35px;
}
img.paysan {
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

a {
  text-decoration: none;
  padding: 0;
}
a:hover {
  color: rgb(170, 43, 170);
  cursor: zoom-out;
  font-size: 1.1em;
  
}

hr {
  width: 100%;
  height: 3px;
  background-color: red;
}

